header {
    background: #4aaaa5;

}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

img {
    padding: 50 px;
    margin: 50 px;
    border: 0 px
}